@page "/"
@using Placuszki.Krakjam2024.Server
@inject GameplayService GameplayService
@inject SessionService SessionService

<style>
    body {
        background-color: @SessionService.PhoneColor;
    }
</style>

<div>
    Player ID: 
    @SessionService.PlayerId
</div>
<button class="btn btn-primary" @onpointerdown="() => ButtonPressed()" @onpointerup="() => ButtonReleased()">Send</button>
<div>
    <label>
        x
        <InputNumber @bind-Value="_x"/>
    </label>
    <label>
        y
        <InputNumber @bind-Value="_y"/>
    </label>
</div>

@code {
    private float _x;
    private float _y;

    public Index()
    {
    }

    private void ButtonPressed()
    {
        SendDataPacketToClients();
    }

    private void ButtonReleased()
    {
        SendDataPacketToClients();
    }

    private void SendDataPacketToClients()
    {
        var dataPacket = new DataPacket
        {
            PlayerId = SessionService.PlayerId,
            PhoneColor = SessionService.PhoneColor,
            X = _x,
            Y = _y,
        };
        GameplayService.SendUpdateToClients(dataPacket);
    }
}