@page "/logs"

@inject FileReader FileReader

<h3>Read Output from File</h3>

<button @onclick="ReadFile">Read File</button>

<div>
    @outputText
</div>

@code {
    private string outputText;

    private void ReadFile()
    {
        string filePath = "output.log";
        outputText = FileReader.ReadFileContent(filePath);
    }
}