@page "/logs"
@inject FileReader FileReader

<div class="container">
    <div class="row">
        <button @onclick="ReadFile">Read File</button>
    </div>
    <div class="row">
        @if(outputText != null)
        {
        @foreach (var line in outputText.Split('\n'))
        {
            <p>@line</p>
        }
        }
        else
        {
        <p>Click button</p>
        }
    </div>
</div>

@code {
    private string outputText;

    private void ReadFile()
    {
        string filePath = "output.log";
        outputText = FileReader.ReadFileContent(filePath);
    }
}